libX11
libXext
libXrender
mesa-libGL
mesa-libEGL
mesa-dri-drivers
libXau
alsa-lib
gtk2
gtkmm24
libdrm
libXcomposite
libXcursor
libXi
libXrandr
pciutils
libXScrnSaver
libXtst
libselinux
libXdamage
libXfixes
libXxf86vm
libSM
libICE
libxcb
expat
pcre
libglvnd-glx
libglvnd-egl
libxkbcommon
xcb-util
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xorg-x11-server-Xvfb

